<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/header.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="header">
      <div class="area-buttons">
        <h1>Projeto Cadastro</h1>
        <a href="/">Home</a>
        <a href="projects">Projetos</a>
        <a href="/peoples">Pessoas</a>
      </div>
      <div class="area-login">
        <a href="">Login</a>
      </div>
    </div>
  </body>
</html>
